

.belarus{
   margin-block: 170px 100px;
   p{
      max-width: 1000px;
   }

   .box_img{
      display: flex;
      justify-content: flex-end;
      img{
         max-width: 40%;
         margin: -50px -100px 0 0;
      }
   }
}