

.belarus{
   padding-block: 120px 50px;
   
   p{
      max-width: 1000px;
   }

   .box_img{
      display: flex;
      justify-content: flex-end;
      img{
         max-width: 40%;
         margin: -30px -100px 0 0;

         @media (max-width: 960px) {
            max-width: 60%;
            margin: -20px -100px 0 0;
         }

         @media (max-width: 740px) {
            max-width: 80%;
            margin: -20px -100px 0 0;
         }

         @media (max-width: 480px) {
            max-width: 100%;
            margin: -10px -70px 0 0;
         }
      }
   }
}