.people {
   padding-bottom: 150px;

   .cards {
      display: flex;
      gap: 90px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      @media (max-width: 920px) {
         gap: 50px;
      }

      @media (max-width: 760px) {
         gap: 80px;
      }

      .card {
         position: relative;
         width: 100%;
         max-width: 310px;
         min-width: 200px;

         .inst {
            position: absolute;
            z-index: 1;
            bottom: 80px;
            left: -10px;

            @media (max-width: 760px) {
               bottom: 20px;
            }
         }

         .box_foto {
            .foto {
               width: 100%;
            }
         }

         .btn {
            position: absolute;
            z-index: 1;
            bottom: -10px;
            left: -20px;

            @media (max-width: 760px) {
               bottom: auto;
               left: auto;
               top: calc(100% + 10px);
               right: -10px;
               font-size: 1.2rem;
               background: transparent !important;
               color: var(--red) !important;
            }
         }

         @media (max-width: 760px) {
            max-width: 100%;
            min-width: 100%;
            height: 400px;

            .box_foto {
               width: 100%;
               height: 100%;
               overflow: hidden;

               .foto {
                  height: 100%;
                  object-fit: cover;
                  object-position: -14px;
                  width: calc(100% + 28px);
               }
            }

         }

         @media (max-width: 540px) {
            height: 300px;
         }

      }

      @media (max-width: 760px) {
         .card {
            border: 7px solid var(--red);
         }

         .card:first-child {
            border: 7px solid #333;
         }
      }
   }

   .bg_popup {

      position: fixed;
      inset: 0;
      background: rgba(217, 217, 217, 0.1);
      backdrop-filter: blur(10px);
      z-index: 105;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding: 40px;
      max-height: 100%;
      overflow-y: auto;

      @media (max-width: 640px) {
         padding: 40px 20px;
      }

      .box_popup {
         border: 5px solid var(--red);
         background-color: var(--white);
         position: relative;
         margin: 50px 100px;
         padding: 5vh 3rem;
         box-sizing: border-box;

         @media (max-width: 1420px) {
            margin: 50px 20px;
         }

         @media (max-width: 640px) {
            margin: 0px 0px !important;
            padding: 4vh 1.5rem;
         }

         &::-webkit-scrollbar {
            width: 8px;
            background-color: rgba(26, 24, 47, 0.15);
            border-radius: 5px;
            height: 200px;
         }

         &::-webkit-scrollbar-thumb {
            background: rgba(255, 0, 0, 0.101);
            border-radius: 8px;
         }

         h2.title {
            max-width: 58%;
            position: relative;
            display: inline-block;
            font-family: "Beer money";
            font-weight: 400;
            margin: 0;
            font-size: 2rem;

            @media (max-width: 768px) {
               max-width: 80%;
            }

            .text_inst{
               height: 100%;
               display: inline-flex;
               align-items: flex-end;
               justify-content: center;
               transform: scale(0.7) translateY(10px);
               padding-left: 15px;
            }


            strong {
               font-weight: 400;
               color: var(--red);
            }
         }

         .close {
            position: absolute;
            top: 25px;
            right: 25px;
            padding: 6px 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--red);
            border-radius: 50%;
            cursor: pointer;
            border: none;

            @media (max-width: 480px) {
               top: 15px;
               right: 15px;
            }

            i {
               display: inline-block;
               font-size: 25px;
               width: 25px;
               height: 25px;
               color: var(--white);
            }
         }

         .col {
            display: flex;
            align-items: flex-start;
            align-items: center;
            gap: 170px;

            @media (max-width: 1700px) {
               gap: 100px;
            }

            @media (max-width: 1500px) {
               gap: 80px;
            }

            @media (max-width: 1150px) {
               gap: 50px;
            }


            @media (max-width: 920px) {
               gap: 20px;
               flex-direction: column;
            }

            .foto_card {
               width: 35%;
               max-width: 400px;

               @media (max-width: 920px) {
                  margin: 0 auto;
                  width: 100%;
                  max-width: 350px;
               }
            }
         }
      }
   }
}