
.navbar {
   position: fixed;
   left: 50px;
   top: 0;
   bottom: 0;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   transition: background 0.4s ease-in-out, transform 0.6s ease-out;

   @media (max-width: 1420px) {
      left: 40px;
   }

   @media (max-width: 1060px) {
      z-index: 100;
      inset: 0;
      box-sizing: border-box;
      padding: 70px 0 0px 0;
      overflow-y: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transform: translateX(-100%);

      &.active {
         transform: translateX(0);
         background-color: #F6F6F6;
      }
   }

   @media (max-width: 560px) {
      align-items: flex-start;
   }


   .menu {
      display: flex;
      flex-direction: column;
      padding: 0;
      gap: 17px;

      @media (max-width: 560px) {
         padding-left: 60px !important;
      }

      li {
         font-family: "Beer money";
         font-weight: 400;
         list-style: none;
         a {
            cursor: pointer;
            font-size: 1.2rem;
            text-decoration: none;
            transition: 0.4s;

            @media (max-width: 1060px) {
               font-size: 2.5rem !important;
            }
         }
      }
   }
}


.navbar{
   li, a {
      color: #000;
   }

   li.active a{
      font-size: 1.7em !important;
      color: var(--red) !important; 
   }

    @media (max-width: 1060px) {
      font-size: 2rem !important;
   }
}

.navbar.home{
   li, a {
      color: var(--white);

      @media (max-width: 1060px) {
         color: #000;
      }
   }
}

.toggle.top{
   background-color: transparent;
   box-shadow: none;
   span{
      background-color: #fff;
   }
}

.toggle{
   display: none;
   z-index: 101;
   padding: 20px 15px 20px 15px;
   border-radius: 50%;
   box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
   position: fixed;
   left: 15px;
   top: 15px;
   flex-direction: column;
   align-items: flex-start;
   gap: 7px;
   transition: 0.5s;
   background-color: #F6F6F6;

   @media (max-width: 1060px) {
      display: inline-flex;
   }

   span{
      width: 35px;
      background-color: #222222;
      height: 4px;
      transition: 0.5s;
      // background-color: #fff;
   }
}

.toggle.active{
   span{
      background-color: var(--red);
   }

   span:nth-child(1){
      width: 20px;
      transform: rotate(-40deg) translate(-4px, 3px);
   }

   span:nth-child(3){
      width: 20px;
      transform: rotate(40deg) translate(-4px, -3px);
   }
}


.links_network{
   display: none;
   
   @media (max-width: 890px) {
      overflow: hidden;
      
      ul {
         transition: 0.4s ease-out;
         transition-delay: 0.6s;

         opacity: 0;
         transform: translate(0, 30px);
      };
   }
}

.links_network.active{
   display: flex;
   
   ul {
      opacity: 1;
      transform: translate(0, 0);
   };

   svg {
      fill: var(--red) !important;
   }
}


.navbar{
   a:hover{
      color: var(--red) !important;
   }
}

