

.mission {


   .box_info{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      h1{
         margin: 0;
         margin-top: 60px;
      }

      p{
         max-width: 700px;
      }

      .box_foto{
         box-sizing: border-box;
         padding: 50px 30px 0 30px;
         img {
            box-sizing: border-box;
            max-width: 450px;
            width: 100%;
         }
      }

      @media (max-width: 740px) {
         flex-direction: column;
         justify-content: center;

         .box_foto{
            width: 100%;
            padding: 10px 20px 0 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            img{
               max-width: 400px;
               padding-right: 30px;

               @media (max-width: 520px) {
                  max-width: 350px;
               }
            }
         }
      }
   }
}