

.history{
   margin-top: 65px;
   
   h1{
      margin: 0;
   }

   .box_info{
      display: flex;
      justify-content: space-between;

      p{
         max-width: 850px;
      }

      .box_foto{
         padding: 40px 20px 0 20px;
         img {
            max-width: 500px;
            width: 100%;
         }
      }

      @media (max-width: 740px) {
         flex-direction: column;
         justify-content: center;

         .box_foto{
            padding: 10px 20px 0 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            img{
               max-width: 400px
            }

            @media (max-width: 520px) {
               max-width: 350px;
            }
         }
      }
   }
}