@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Rubik+Glitch&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("./assets/fonts/fonts.css");


// --xxl: 1640px
// --xl: 1320px
// --xl: 1140px
// --lg: 960px
// --md: 720px
// --sm: 540px
// --xs: 440px

:root {
   --white: #F6F6F6;
   --red: #CC2E2E;
   --blue: #2E5ACC;
}

.title{
   color: var(--red);
   font-size: 4.2rem;
   font-weight: 400;
   font-family: 'Rubik Glitch'; 
   display: flex;
   align-items: center;
   gap: 15px;

   @media (max-width: 1420px) {
      font-size: 3.2rem;
   }

   @media (max-width: 890px) {
      font-size: 2.8rem;
   }

   @media (max-width: 480px) {
      font-size: 2.5rem;
   }

   img{
      width: 2.7rem;;
   }
}

.title2{
   max-width: 1000px;
   font-size: 2.8rem;

   @media (max-width: 1420px) {
      font-size: 2.4rem;
      max-width: 800px;
   }

   @media (max-width: 1080px) {
      max-width: 700px;
   }
   
   strong {
      color: var(--red);
      font-family: 'Rubik Glitch';
      font-weight: 400;
      font-size: 2.7rem;
   }

   img{
      width: 2.5rem;
      margin-left: 15px;
   }
}

.container{
   position: relative;
   padding: 5rem 100px 0 350px;
   overflow: hidden;

   @media (max-width: 1640px) {
      padding: 5rem 100px 0 240px;
   }

   @media (max-width: 1420px) {
      padding: 5rem 80px 0 200px;
   }

   @media (max-width: 1060px) {
      padding: 4.5rem 80px 0 60px;
   }

   @media (max-width: 890px) {
      padding: 4.5rem 30px 0 30px;
   }

   @media (max-width: 520px) {
      padding: 4.5rem 20px 0 20px;
   }
}

@media (max-width: 890px) {
   .links_network{
      display: none;
   }
}


//slick
.slick-arrow::before{
   color: var(--red) !important;
   font-size: 1.3rem !important;
}

.slick-prev::before{
   margin-right: -60px !important;
}

.slick-next::before{
   margin-left: -60px !important;
}

.slick-dots{
   bottom:  0px !important;

   button::before{
      font-size: 0.8rem !important;
   }

   li{
      button::before{
         color: var(--red) !important;
         opacity: 0.5 !important;
      }
   }

   li.slick-active{
      button::before{
         opacity: 1 !important;
      }
   }
}